*{
    padding: 0px;
    margin:  0px;
    box-sizing: border-box;
}

html {
    line-height: 1.2em;
}

body {
    width: 100%;
    background: lightgray;
    display: grid;
    grid-template: "header header header header " 10vh
    /* ". . . . ." 3vh */
    ". hero hero ." 80vh
    /* ". . .  ." 3vh */
    ". main main ." auto
    ". contents contents  ." 35vh
    /* ". . . . ." 3vh */
    "footer footer footer footer" 10vh / 1fr 3fr 3fr 1fr;
    grid-gap: 1em;
}

li {
    margin: 5px;
    list-style: none;
}

a {
    margin: 5px;
    cursor: pointer;
    font-family:cursive;
    font-size: 20px;
    text-decoration: none;
    color: #000;
    font-weight: 300;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: header;
    background-color: rgb(85, 49, 29);
    color:antiquewhite;
}


#header-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-company{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items:flex-end;
}

.link {
    text-decoration: none;
    font-size: 1.2em;
    color:antiquewhite;
}

.link:hover{
    text-decoration: none;
    font-size: 1.2em;
    color:rgb(248, 191, 116);
}

.navbar ul{
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.navbar ul li a{
    text-decoration: none;
    font-size: 1.2em;
    color:antiquewhite;    
}
.navbar ul li a:hover,
#footer-follow ul li a:hover{
    text-decoration: none;
    font-size: 1.2em;
    color:rgb(248, 191, 116);
    
}

#shop-wrapper{
    height: 100%;
    width: 12em;
    display: flex;
    flex-wrap: wrap;
    text-align:center;
    justify-content: center;
    /* align-items: center; */
    color: rgb(85, 49, 29);
    font-size: 1.2em;
    border: 3px solid rgb(85, 49, 29);
}

#num-of-items{
    width: 100%;
    height: 100%;
    color: burlywood;
}

#shop-icon, #fin-pur-btn{    
        height:2em;
        width:8em;
        top: 0;
        border: 1px solid white;
        font-family: cursive; 
}

#shop-icon:hover, #fin-pur-btn:hover {
        background: burlywood;
        color: white;
        border: 1px solid white;
        cursor: pointer;
}


#shopping-cart {    
    display: none;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;   
    height: 100%;
    z-index: 999;
}

#shopping-cart > * {
    width: 100%;
    padding-top: auto;
}

#show-cart-wrapper {
    background-color: burlywood;
    padding-top: auto;
    margin-top: auto;
    height: auto;
}

#products-wrapper{
    font-family:cursive;
    height: 100%;
    width: 100%;
    /* margin-top: 10em; */
    display: flex;
    flex-wrap: wrap;
    grid-column: 1 / -1;
    justify-content: flex-start;
    grid-row: 2 / 5;
}

#products-wrapper h3{
    padding: 0;
    margin: 0;
    color:antiquewhite;
    font-size: 3em;
    -webkit-text-stroke: 1px rgb(85, 49, 29);
}




.each-item {
    border: 1px solid rgb(85, 49, 29);
    margin: 1em;
    padding: 1em;
    width: 12em;    

}

.buy-btn, .remove-item{
        
        height:2em;
        width:8em;
        top: 0;
        border: 1px solid white;
        font-family: cursive; 
        width: 80%;
}

.buy-btn:hover, .remove-item:hover {
        background: burlywood;
        color: white;
        border: 1px solid white;
        cursor: pointer;
}


.item-wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto, 1fr);
    grid-template-rows: repeat(auto, 10em);
    text-align: center;
    justify-content: center;
    align-items: flex-start;
}

.item-wrapper h3{
    width: 100%;
    grid-column: 1 / -1;
}

.item-wrapper h4{
    grid-column: span 2;
}
